qamservices/.settings/
qamservices/\.settings/
qamservices/\.settings/**
/qamservices/.settings/
/qamservices/\.settings/
/qamservices/\.settings/**
newqamservices/.settings/org.eclipse.buildship.core.prefs
newqamservices/.settings/
newqamservices/.settings/**
newqamservices/.classpath
newqamservices/.project
newqamservices/\.settings/
newqamservices/\.settings/**
/newqamservices/.settings/
/newqamservices/\.settings/
/newqamservices/\.settings/**
cmshealth/\.classpath
/cmshealth/\.classpath
/cmshealth/.classpath
newqamservices/.settings/org.eclipse.buildship.core.prefs
/newqamservices/.settings/org.eclipse.buildship.core.prefs